/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
  color: #222222;
}

.clear::before,
.clear::after {
  content: " ";
  display: table;
}
.clear::after {
  clear: both;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.preloader-area {
  background: linear-gradient(45deg, rgb(129, 0, 0), #210099, #7a16a1);
  animation: Gradient 20s ease infinite;
  background-size: 200% 200%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.preloader-area .loader-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader-area .loader {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 30px;
  border-style: double;
  border-color: transparent #fff;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#back-top {
  position: fixed;
  right: 0;
  margin-right: 30px;
  bottom: 50px;
  cursor: pointer;
  z-index: 9999999;
  opacity: 0;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 576px) {
  #back-top {
    margin-right: 10px;
    bottom: 30px;
  }
}
#back-top a {
  background: rgb(32, 46, 109);
  background: linear-gradient(5deg, #d474b0, #64c6df);
  background-size: 100%;

  display: block;
  text-align: center;
  height: 40px;
  border-radius: 50% 50% 0 50%;
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#back-top a i {
  font-size: 22px;
  color: #fff;
}
#back-top a:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.back-top-animation {
  right: 20px !important;
  opacity: 1 !important;
  -webkit-transition: all 0.4s ease-in !important;
  -moz-transition: all 0.4s ease-in !important;
  -o-transition: all 0.4s ease-in !important;
  transition: all 0.4s ease-in !important;
}

.section-gap {
  padding: 150px 0;
}
@media (max-width: 1024px) {
  .section-gap {
    padding: 60px 0;
  }
}

.section-gap-top {
  padding-top: 150px;
}
@media (max-width: 1024px) {
  .section-gap-top {
    padding: 60px 0;
  }
}

.section-gap-bottom-90 {
  padding-bottom: 130px;
}
@media (max-width: 1024px) {
  .section-gap-bottom-90 {
    padding-bottom: 30px;
  }
}

.section-title {
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .section-title {
    margin-bottom: 30px;
  }
}
.section-title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
  text-transform: capitalize;
  position: relative;
  line-height: 44px;
}
@media (max-width: 1024px) {
  .section-title h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .section-title h2 {
    font-size: 30px;
  }
}
.section-title h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 10px;
  height: 10px;
  background: #e45447;
  border-radius: 7px;
}
@media (max-width: 1024px) {
  .section-title h2:before {
    bottom: -15px;
  }
}
.section-title h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100px;
  height: 2px;
  background: #e45447;
}
@media (max-width: 1024px) {
  .section-title h2:after {
    bottom: -11px;
  }
}
.section-title p {
  max-width: 535px;
  margin-bottom: 0;
}

.primary-btn {
  color: #fff;
  padding: 0 52px;
  margin: 0 0 10%;
  background: rgb(32, 46, 109);
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  border: 1px solid rgb(32, 46, 109);
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .primary-btn {
    padding: 0 35px;
  }
}
.primary-btn:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 13px 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  color: #fff;
}
@media (max-width: 767px) {
  .primary-btn:before {
    padding: 8px 0;
  }
}
.primary-btn:hover {
  background: #fff;
  border: 1px solid rgb(32, 46, 109);
}
.primary-btn:hover:before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.primary-btn:hover span {
  opacity: 1;
  color: rgb(32, 46, 109);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.primary-btn span {
  display: inline-block;
  padding: 12px 0;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(10, 10px, 0);
  -moz-transform: translate3d(10, 10px, 0);
  -ms-transform: translate3d(10, 10px, 0);
  -o-transform: translate3d(10, 10px, 0);
  transform: translate3d(10, 10px, 0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
@media (max-width: 767px) {
  .primary-btn span {
    padding: 8px 0;
  }
}
.primary-btn.white {
  border: 1px solid #90acd1;
  color: rgb(32, 46, 109);
  background: #fff;
}
.primary-btn.white span {
  color: #222222;
}
.primary-btn.white:before {
  color: #222222;
}
.primary-btn.white:hover {
  background: #90acd1;
  color: #fff;
}
.primary-btn.white:hover span {
  color: #fff;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

.button-area {
  background: #fff;
}
.button-area {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}
.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.list-style {
  width: 14px;
  height: 14px;
}

.input-group-icon {
  position: relative;
}
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}
.input-group-icon .icon i {
  color: #797979;
}
.input-group-icon {
  padding-left: 45px;
}

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.main-menu {
  padding-top: 20px;
}

#header {
  padding: 0px 0px 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
/* Important!!!  */
#header.header-scrolled {
  position: fixed;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  background: #fff;
  transition: all 0.5s;
}
#header.header-scrolled #nav-menu-container {
  margin-left: auto;
}
#header.header-scrolled.dark {
  background: #222222;
}
/* Important!!!  */
.logo {
  height: 35px;
  border-radius: 50%;
}
.logo2 {
  padding: 0;
  margin: 0;
  height: 100px;
}
#logo {
  margin-left: 15px;
}
@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #000;
  padding-left: 10px;
  border-left: 4px solid #e45447;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }

  #header #logo img {
    max-height: 40px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 28px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  margin: 0;
  margin-left: 250px;
}

.nav-menu a {
  padding: 0px;
  text-decoration: none;
  display: inline-block;
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.nav-menu a.active,
.nav-menu a:hover {
  color: #e45447 !important;
}
.nav-menu.white a {
  color: #fff;
}

.nav-menu > li {
  margin-right: 50px;
}
.nav-menu > li:last-child {
  margin-right: 0;
}

.nav-menu ul {
  margin: 33px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}
.nav-menu ul.dark {
  background: #222222;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  font-weight: 400;
}

.nav-menu ul li:hover > a {
  color: #e45447;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 60px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
@media (max-width: 800px) {
  #mobile-nav-toggle {
    top: 26px;
  }
}

#mobile-nav-toggle i {
  color: #e45447;
  font-weight: 900;
}

@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline;
  }

  #nav-menu-container {
    display: none;
  }
}
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #e45447;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #e45447;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.home-banner-area {
  background: url(../img/banner-bg.gif) center;
  background-size: cover;
  height: 550px !important;
}

.banner-area {
  background: #90acd1;
}

.banner-content {
  padding-top: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.banner-content h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 66px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .banner-content h1 {
    font-size: 35px;
  }
}
@media (max-width: 325px) {
  .banner-content h1 {
    font-size: 32px;
  }
}
.banner-content .me {
  background: #90acd1;
  padding: 18px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
}
.banner-content .me:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 0px solid transparent;
  border-top: 24px solid #90acd1;
}
.banner-content .designation {
  /* max-width: 390px; */
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}
@media (max-width: 576px) {
  .banner-content .designation {
    font-size: 25px;
  }
}
.banner-content .designation .designer {
  color: #e45447;
}
.banner-content .designation .developer {
  color: #90acd1;
}

.banner-img {
  text-align: right;
  position: relative;
  left: 160px;
}
@media (max-width: 1480px) {
  .banner-img {
    left: 0px;
  }
}
@media (max-width: 991px) {
  .banner-img {
    display: none;
  }
}
@media (max-width: 1480px) {
  .banner-img img {
    max-width: 80%;
  }
}

/*-------- Start About Area ------------*/
.about-area .section-title {
  margin-bottom: 0;
}
.about-container {
  background-image: url("../img/about-left.jpg");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.experience-container {
  background-image: url("../img/exp-bg.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .about-container {
    background-image: url("#");
  }
  .about-area .section-title {
    padding-bottom: 0px;
  }
}
@media (max-width: 991px) {
  .about-area .about-left {
    display: none;
  }
}
.about-area .primary-btn.white {
  margin-right: 10px;
}
@media (max-width: 1199px) {
  .about-area .primary-btn.white {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .about-area .primary-btn.white {
    margin-bottom: 0px;
  }
}
@media (max-width: 374px) {
  .about-area .primary-btn.white {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/*-------- End About Area ------------*/
/*--------- Start portfolio Area -------------*/
.work-area {
  background-image: url("../img/banner-bg8.gif");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
@media (max-width: 1024px) {
  .work-area .row.mb-80 {
    margin-bottom: 30px;
  }
}
.work-area .section-title {
  margin-bottom: 0;
}
.work-area .filters {
  text-align: center;
}
@media (max-width: 991px) {
  .work-area .filters {
    margin-top: 40px;
  }
}
.work-area .filters ul {
  padding: 0;
  text-align: right;
}
@media (max-width: 991px) {
  .work-area .filters ul {
    text-align: left;
  }
}
.work-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size: 13px;
}
.work-area .filters ul li:last-child {
  padding-right: 0;
}
@media (max-width: 991px) {
  .work-area .filters ul li:first-child {
    padding-left: 0;
  }
}
.work-area .filters ul li.active,
.work-area .filters ul li:hover {
  color: #e45447;
}
.work-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.work-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.work-area .filters-content img {
  border-radius: 10px;
  width: 100%;
}

.single-work {
  border-radius: 5px;
  margin-bottom: 30px;
}
.single-work .thumb .overlay-bg {
  background: rgb(32, 46, 109);
  background: linear-gradient(5deg, #d474b0, #64c6df);
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-work .thumb .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.single-work .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-work .middle h4 {
  font-size: 21px;
  color: #fff;
}
.single-work .middle .cat {
  font-size: 15px;
  color: #fff;
}
.single-work:hover .thumb .overlay-bg {
  opacity: .95;
}
.single-work:hover .middle {
  opacity: 1;
}

/*--------- End portfolio Area -------------*/
.job-area.offwhite {
  background: #f9f9ff;
}

.single-job {
  background-color: #f9f9ff;
  padding: 40px 30px;
  /* border-radius: 5px 5px 45px 5px; */
  border-radius: 1px 25px 1px 1px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 576px) {
  .single-job .top-sec {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.single-job .top-left h4 {
  color: #000;
  font-size: 21px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .single-job .top-left h4 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .single-job .bottom-sec {
    margin-top: 30px;
  }
}
.single-job .primary-btn {
  padding: 0 28px;
  background: #fff;
  color: #222222;
  border: 1px solid rgb(34, 43, 83);
}
@media (max-width: 1199px) {
  .single-job .primary-btn {
    padding: 0 15px;
  }
}
.single-job .primary-btn span {
  color: #222222;
}
.single-job .primary-btn:before {
  color: #222222;
}
.single-job:hover {
  background: rgb(34, 43, 83);
  background: rgb(32, 46, 109);
  cursor: pointer;
  color: #fff;
}
.single-job:hover .top-left h4 {
  color: #fff;
}

.service-area {
  background: #f9f9ff;
  background: url(../img/skill-bg.jpg) no-repeat fixed;
  background-size: cover;
}
.service-area.white {
  background: #fff;
}
.service-area .col-lg-3.col-md-6:nth-child(1) .single-service {
  background: rgba(0, 0, 0, 0.5);
}
.service-area .col-lg-3.col-md-6:nth-child(2) .single-service {
  background: rgba(0, 0, 0, 0.5);
}
.service-area .col-lg-3.col-md-6:nth-child(3) .single-service {
  background: rgba(0, 0, 0, 0.5);
}
.service-area .col-lg-3.col-md-6:nth-child(4) .single-service {
  background: rgba(0, 0, 0, 0.5);
}

.single-service {
  color: #fff;
  padding: 60px 30px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1199px) {
  .single-service {
    padding: 30px 15px;
  }
}
@media (max-width: 991px) {
  .single-service {
    margin-bottom: 30px;
    padding: 60px 30px;
  }
}
@media (max-width: 576px) {
  .single-service {
    text-align: center;
  }
}
.single-service .lnr {
  font-size: 36px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-service h4 {
  color: #fff;
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.single-service h4 span {
  display: block;
}
@media (max-width: 767px) {
  .single-service h4 span {
    display: inline-block;
  }
}
.single-service:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

.testimonials_area {
  position: relative;
}
.testimonials_area .owl-controls {
  text-align: center;
}
@media (max-width: 767px) {
  .testimonials_area .owl-controls {
    display: none;
  }
}
.testimonials_area .owl-controls .owl-nav {
  position: relative;
  top: 29px;
}
.testimonials_area .owl-controls .owl-nav .owl-prev,
.testimonials_area .owl-controls .owl-nav .owl-next {
  display: inline-block;
  margin-right: 31px;
  color: #000;
}
.testimonials_area .owl-controls .owl-nav .owl-prev {
  margin-right: 80px;
}
.testimonials_area .owl-controls .owl-nav .owl-next {
  margin-left: 80px;
  margin-right: 0;
}
.testimonials_area .owl-controls .owl-dots .owl-dot {
  height: 4px;
  width: 40px;
  background: #eeeeee;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.testimonials_area .owl-controls .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}
.testimonials_area .owl-controls .owl-dots .owl-dot:hover,
.testimonials_area .owl-controls .owl-dots .owl-dot.active {
  background: #e45447;
}

.testi_slider {
  margin: auto;
}
.testi_slider .testi_item {
  text-align: center;
}
.testi_slider .testi_item img {
  width: auto;
  margin: auto;
}

.testi_item {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .testi_item {
    margin-bottom: 0;
  }
}
.testi_item h4 {
  font-size: 21px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}
.testi_item .list {
  margin-bottom: 35px;
}
.testi_item .list li {
  display: inline-block;
}
.testi_item .list li a {
  color: #ffc000;
  font-size: 14px;
}
.testi_item p {
  max-width: 570px;
  margin: auto;
}

.contact-area {
  background: linear-gradient(45deg, #ffd3d3, #bba8ff, navy);
  background: rgb(32, 46, 109);
}
@media (max-width: 1024px) {
  .contact-area .row.mt-80 {
    margin-top: 40px;
  }
}
.contact-area .contact-title {
  color: #fff;
  text-align: center;
}
.contact-area .contact-title h2 {
  color: #fff;
  position: relative;
  margin-bottom: 45px;
  font-size: 48px;
  line-height: 45px;
}
@media (max-width: 1024px) {
  .contact-area .contact-title h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .contact-area .contact-title h2 {
    font-size: 30px;
  }
}
.contact-area .contact-title h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #fff;
}
@media (max-width: 1024px) {
  .contact-area .contact-title h2:before {
    bottom: -5px;
  }
}
.contact-area .contact-title h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -19px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .contact-area .contact-title h2:after {
    bottom: -9px;
  }
}
.contact-area .contact-title p {
  max-width: 540px;
  margin: 0 auto;
}
.contact-area .primary-btn {
  background: rgb(48, 54, 78);
  color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.contact-area .primary-btn:before {
  color: rgb(255, 255, 255);
}
.contact-area .primary-btn span {
  color: #000;
}
.contact-area .primary-btn:hover {
  background: transparent;
}
.contact-area .primary-btn:hover span {
  color: #fff;
}

.contact-title {
  padding-bottom: 15px;
}
.box-1 {
  text-align: right;
}
@media (max-width: 991px) {
  .box-1 {
    text-align: left;
  }
}
.box-2 {
  text-align: left;
}
.contact-box .font-style {
  font-size: 30px;
  font-weight: 700;
  padding: 0 30px 30px;
  color: #fff;
}
.font-style2 {
  font-weight: 100;
  font-size: 18px;
}

.whole-wrap {
  background-color: #fff;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}

.link-nav {
  margin-top: 10px;
  margin-bottom: 0px;
}

.footer-area {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .footer-area {
    padding: 60px 0;
  }
}
.footer-area .footer-logo {
  text-align: center;
}
.footer-area .footer-logo h4 {
  font-size: 21px;
  color: #777777;
  font-weight: 700;
  margin-top: 48px;
}
.footer-area .footer-social {
  text-align: center;
  margin: 25px 0px 50px;
}
@media (max-width: 1024px) {
  .footer-area .footer-social {
    margin: 15px 0px 30px;
  }
}
.footer-area .footer-social a {
  padding: 0 20px;
}
.footer-area .footer-social a i {
  color: #cccccc;
  font-size: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 576px) {
  .footer-area .footer-social a i {
    font-size: 25px;
  }
}
.footer-area .footer-social a i:hover {
  color: #e45447;
}
.footer-area .footer-bottom {
  text-align: center;
}
.footer-area .footer-bottom p {
  margin-bottom: 0;
}
.footer-area .footer-bottom a {
  color: #e45447;
}

/*# sourceMappingURL=main.css.map */
.menu-color {
  color: rgb(196, 196, 196) !important;
}

.iw-border {
  border-radius: 50%;
  width: 280px !important;
  height: 280px !important;
  background-color: white;
  position: relative;
  top: -135px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.iw-id {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  position: absolute;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
}
.iw-qr {
  height: 100px;
}
.iw-qr-full {
  width: 140px;
  margin: 6px 5% 15px;
}
.card-text {
  color: black;
  margin-left: 6%;
}

h1 {
  margin: 0 !important;
}

h2 {
  color: #000;
}

#font-white {
  color: white;
}

.quote-pic2 {
  width: 75px !important;
  height: auto !important;
}
.quote-pic {
  margin-bottom: -10px !important;
  width: 95px !important;
  height: auto !important;
}

.skills {
  height: 65px;
  margin: 10px;
}

.text-right {
  margin: 10% 5% 0;
}
.text-left {
  margin-bottom: 0;
}

.button-contain {
  margin-left: 20%;
}

#nav-position {
  position: absolute;
  right: 10%;
}

.testimonials_area::after {
  /* .footer-area::after { */
  content: "";
  background-image: url("../img/banner-bg9.gif");
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
